.constructorSectionContainer {
	height: calc(100vh - 200px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.constructorContainer {
	width: 600px;
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	gap: 14px;
	flex-direction: column;
}

.constructorScrollContainer {
	overflow: overlay;
	width: 600px;
	height: calc(100vh - 505px);
	padding: 0;
	list-style: none;
	display: flex;
	gap: 14px;
	flex-direction: column;
	align-items: flex-start;
}

.lockItem {
	padding-left: 30px;
}

.sumButtonContainer {
	padding-right: 20px;
	display: flex;
	gap: 40px;
	justify-content: flex-end;
	align-items: center;
}

.sumContainer {
	display: flex;
	align-items: center;
	gap: 8px;
}